In [159]:
import pandas as pd

In [160]:
rna_df = pd.read_csv("ACC/rna.tsv",sep='\t')
mrna_df = pd.read_csv("ACC/mirna.tsv",sep='\t')
meth_df = pd.read_csv("ACC/meth.tsv",sep='\t')

In [161]:
rna_df['Samples']= rna_df.apply(lambda row:row['Samples'][0:12],axis = 1)
mrna_df['Samples']= rna_df.apply(lambda row:row['Samples'][0:12],axis = 1)
meth_df['Samples']= rna_df.apply(lambda row:row['Samples'][0:12],axis = 1)

In [162]:
list1 = set(rna_df['Samples'].tolist())
list2 = set(mrna_df['Samples'].tolist())
list3 = set(meth_df['Samples'].tolist())

In [163]:
difference = list((list1 | list2| list3) - (list1 & list2 & list3))

In [164]:
intersection = list(list1 & list2 & list3)

In [165]:
rna_df = rna_df[rna_df.Samples.isin(difference) == False]

In [166]:
meth_df = meth_df[meth_df.Samples.isin(difference) == False]

In [167]:
mrna_df = mrna_df[meth_df.Samples.isin(difference) == False]

In [168]:
clinic_df = pd.read_csv('../../data/ACC/clinical.tsv', sep = '\t')

In [169]:
clinic_df.iloc[144].days_to_last_follow_up

'253'

In [170]:
clinic_df = clinic_df[['case_submitter_id','days_to_death','vital_status','days_to_last_follow_up']]
clinic_df = clinic_df.drop_duplicates()
clinic_df = clinic_df[clinic_df.case_submitter_id.isin(intersection) == True]

In [171]:
clinic_df.head(2)

  case_submitter_id days_to_death vital_status days_to_last_follow_up
0      TCGA-OR-A5JL           '--        Alive                   2056
2      TCGA-OR-A5LL          1613         Dead                    '--

In [172]:
def f(x):
  if x['days_to_death'] == '\'--': return x['days_to_last_follow_up']
  else: return x['days_to_death']

clinic_df['days'] = clinic_df.apply(f, axis=1)

In [173]:
clinic_df.vital_status = clinic_df['vital_status'].apply(lambda x:0 if x == 'Alive' else 1)

In [174]:
clinic_df= clinic_df.rename(columns = { 'vital_status':'event','case_submitter_id':'Samples'})

In [175]:
clinic_df = clinic_df[['Samples','days','event']]

In [176]:
rna_df.to_csv("../../data/ACC/rna.tsv", sep = '\t', index = False)
mrna_df.to_csv("../../data/ACC/mir.tsv", sep = '\t', index = False)
meth_df.to_csv("../../data/ACC/meth.tsv", sep = '\t', index = False)
clinic_df.to_csv("../../data/ACC/survival.tsv", sep = '\t', index = False)

In [177]:
len(rna_df)

79

In [178]:
len(mrna_df)

79

In [179]:
len(meth_df)

79

In [180]:
len(clinic_df)

79

In [158]:
clinic_df

          Samples  days  event
0    TCGA-OR-A5JL  2056      0
2    TCGA-OR-A5LL  1613      1
4    TCGA-OR-A5J7   490      1
6    TCGA-P6-A5OG   383      1
8    TCGA-OR-A5J8   579      1
12   TCGA-OR-A5JP   464      0
16   TCGA-OR-A5LT   549      0
18   TCGA-OR-A5JQ  1103      0
20   TCGA-OR-A5K8   749      0
22   TCGA-OR-A5LO  2405      1
24   TCGA-OR-A5KV  3878      0
26   TCGA-OR-A5JD  3038      0
28   TCGA-OR-A5K6  1493      0
30   TCGA-OR-A5L5  1317      0
32   TCGA-OR-A5KX  1364      0
34   TCGA-OR-A5JY   552      1
36   TCGA-OR-A5JV  2023      0
40   TCGA-OR-A5KU  4673      0
42   TCGA-PK-A5H8  3623      0
44   TCGA-OR-A5JX   950      0
46   TCGA-OR-A5JA   922      1
50   TCGA-OR-A5JO  1194      0
52   TCGA-OR-A5LN  2342      0
54   TCGA-OR-A5L8   885      0
56   TCGA-PK-A5HA  1201      0
60   TCGA-OR-A5KY   391      1
62   TCGA-OR-A5JW  2202      0
66   TCGA-OR-A5KW  2076      0
68   TCGA-OR-A5K2   994      1
70   TCGA-OR-A5K4  1082      0
..            ...   ...    ...
120  TCGA-OR-A5J1  1355      1
122  TCGA-OR-A5KO  1414      0
124  TCGA-OR-A5JI  2331      0
126  TCGA-OR-A5JE  2105      1
128  TCGA-OR-A5JC  1750      1
130  TCGA-OR-A5JT   907      0
132  TCGA-OR-A5LE   662      1
134  TCGA-OR-A5L9   871      0
136  TCGA-OR-A5K3  3465      0
138  TCGA-OR-A5J6  2703      0
142  TCGA-OR-A5LH  2385      1
144  TCGA-OR-A5K5   498      1
146  TCGA-OR-A5JB   551      1
148  TCGA-OR-A5LD  1197      1
150  TCGA-OR-A5K9   344      1
152  TCGA-OR-A5JF  2015      0
154  TCGA-OR-A5KT  2895      0
156  TCGA-OR-A5J3  2091      0
158  TCGA-OR-A5LP  1857      0
160  TCGA-OR-A5LM  1858      0
162  TCGA-OR-A5LA   719      0
166  TCGA-OR-A5K0  1029      0
168  TCGA-OR-A5L6   861      0
170  TCGA-OR-A5LS  1096      0
172  TCGA-OR-A5LC   159      1
174  TCGA-OR-A5K1  3289      0
176  TCGA-OR-A5LG  1589      0
178  TCGA-OR-A5LB  1204      1
180  TCGA-OR-A5JM   562      1
182  TCGA-OR-A5LJ  1105      1

[79 rows x 3 columns]