In [1]:
import pandas as pd

In [2]:
rna_df = pd.read_csv("MESO/rna.tsv", sep = '\t')

In [3]:
case_list = set(rna_df['Samples'].tolist())

# drug

In [4]:
drug_df = pd.read_csv("MESO/drug.csv")

In [5]:
drug_list = drug_df.pharmaceutical_therapy_drug_name.unique().tolist()
drug_df.head(4)

,bcr_patient_barcode,pharmaceutical_therapy_drug_name,dasatinib,Cediranib,Dasatinib,Cisplatin,Pemetrexed,imatinib,everolimus,Carboplatin,...,Gemcitabine (Gemzar),WT-1 Vaccine,EVERolimus,Vinorelbine,GL-ONC1,Porfimer Sodium(Photofin),Porfimer Sodium (Photofrin),2-[1-hexyloxyethyl]-2-devinyl pyropheophorbide-alpha (HPPH or Photochlor),Porfimer Sodium (Photofin),Sutent
0,TCGA-3H-AB3K,dasatinib,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,TCGA-3H-AB3K,Cediranib,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,TCGA-3H-AB3L,Dasatinib,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,TCGA-3H-AB3M,Dasatinib,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
drug_df.drop(['pharmaceutical_therapy_drug_name'],axis = 1)
drug_df = drug_df.groupby('bcr_patient_barcode')[drug_list].sum().reset_index()

In [7]:
drug_df.bcr_patient_barcode = drug_df.bcr_patient_barcode.str.replace("-",'.')
drug_df.bcr_patient_barcode = drug_df.bcr_patient_barcode.apply(lambda x: x + ".01")

In [8]:
drug_case_list = set(drug_df.bcr_patient_barcode.tolist())

In [9]:
drug_difference = list(case_list.difference(drug_case_list))
drug_difference1 = list(drug_case_list.difference(case_list))
drug_df = drug_df[~drug_df['bcr_patient_barcode'].isin(drug_difference1)].reset_index()

In [10]:
drug_df.drop(["index"], axis = 1, inplace = True)

In [11]:
len(drug_difference)

86

In [12]:
len(drug_df)

0

In [13]:
length = len(drug_df)
for i in range(len(drug_difference)):
    add_row = [drug_difference[i]] + [0] * (len(drug_df.columns) - 1) 
    drug_df.loc[length + i] = add_row

In [14]:
drug_df.rename(columns = {"bcr_patient_barcode":"Samples"}, inplace = True)

In [15]:
drug_df.set_index('Samples', inplace = True)
drug_df = drug_df.loc[rna_df['Samples'].tolist()]
drug_df.reset_index(inplace = True)

In [16]:
drug_df.to_csv("MESO/drug.tsv", sep = '\t', index = None)

# whole exome sequence

In [17]:
wxs_df = pd.read_csv("wxs.csv", sep = '\t')

In [18]:
len(wxs_df)

371

In [19]:
wxs_df = wxs_df.groupby('case').sum().reset_index()

In [20]:
wxs_df.case = wxs_df.case.str.replace("-",'.')
wxs_df.case = wxs_df.case.apply(lambda x: x + ".01")

In [21]:
wxs_df.head(5)

,case,SPATA13,ZNF569,SNAI3,CST9L,NPNT,TAS1R2,PPIC,TMEM204,CEP131,...,UPP1,AGO1,FMR1NB,CFAP74,MAGEA5,FBXW7,LCE4A,INTS4,FGF7,LCE2B
0,TCGA.2V.A95S.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,TCGA.2Y.A9GS.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,TCGA.2Y.A9GT.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TCGA.2Y.A9GU.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TCGA.2Y.A9GV.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
wxs_case_list = set(wxs_df.case.tolist())
wxs_difference = list(case_list.difference(wxs_case_list))
wxs_difference1 = list(wxs_case_list.difference(case_list))
wxs_df = wxs_df[~wxs_df['case'].isin(wxs_difference1)].reset_index()
wxs_df.drop(["index"], axis = 1, inplace = True)

In [23]:
len(wxs_difference)

9

In [24]:
len(wxs_df)

351

In [25]:
length = len(wxs_df)
for i in range(len(wxs_difference)):
    add_row = [wxs_difference[i]] + [0] * (len(wxs_df.columns) - 1) 
    wxs_df.loc[length + i] = add_row

In [26]:
wxs_df.rename(columns = {"case":"Samples"}, inplace = True)

In [27]:
wxs_df.set_index('Samples', inplace = True)

In [28]:
wxs_df.index

Index(['TCGA.2V.A95S.01', 'TCGA.2Y.A9GS.01', 'TCGA.2Y.A9GT.01',
       'TCGA.2Y.A9GU.01', 'TCGA.2Y.A9GV.01', 'TCGA.2Y.A9GW.01',
       'TCGA.2Y.A9GX.01', 'TCGA.2Y.A9GY.01', 'TCGA.2Y.A9GZ.01',
       'TCGA.2Y.A9H0.01',
       ...
       'TCGA.ZS.A9CG.01', 'TCGA.BC.4072.01', 'TCGA.BC.A110.01',
       'TCGA.BC.A10S.01', 'TCGA.G3.A7M7.01', 'TCGA.ED.A627.01',
       'TCGA.CC.5261.01', 'TCGA.DD.A1EE.01', 'TCGA.G3.A25X.01',
       'TCGA.BC.A69I.01'],
      dtype='object', name='Samples', length=360)

In [29]:
wxs_df = wxs_df.loc[rna_df['Samples'].tolist()]

In [30]:
wxs_df.head(4)

,SPATA13,ZNF569,SNAI3,CST9L,NPNT,TAS1R2,PPIC,TMEM204,CEP131,STOX2,...,UPP1,AGO1,FMR1NB,CFAP74,MAGEA5,FBXW7,LCE4A,INTS4,FGF7,LCE2B
Samples,,,,,,,,,,,,,,,,,,,,,
TCGA.2V.A95S.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TCGA.2Y.A9GS.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TCGA.2Y.A9GT.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TCGA.2Y.A9GU.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
wxs_df.reset_index(inplace = True)
wxs_df.to_csv("wxs.tsv", sep = '\t', index = None)

In [32]:
rna_df.head(4)

,Samples,?,?.1,?.2,?.3,?.4,?.5,?.6,?.7,?.8,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,TCGA.2V.A95S.01,1.5051,3.7074,90.1124,1017.1038,141.3911,3.9094,89.9169,456.1003,1.3031,...,212.4124,463.2676,24.7597,273.6602,794.2662,18.2440,499.1041,3172.5037,890.0472,510.1808
1,TCGA.2Y.A9GS.01,26.4120,2.6663,71.0054,639.2311,122.7206,1.9714,336.6190,894.5293,19.7141,...,541.3800,628.8812,68.5067,632.8241,1153.7703,71.4638,1000.4929,5301.1336,755.5446,860.5224
2,TCGA.2Y.A9GT.01,0.0000,4.4833,95.5122,742.4344,95.0460,3.5866,281.5512,445.6400,13.4499,...,176.8662,286.0345,46.6263,1219.4575,1133.3782,12.5532,1289.3970,3219.0092,860.7935,523.6494
3,TCGA.2Y.A9GU.01,5.7222,5.1216,61.6679,1186.9807,280.2709,4.1707,47.5460,200.1935,10.0097,...,329.8689,450.4354,18.3511,285.2758,1150.2786,9.1755,941.7437,3092.9899,1339.6283,343.6655

In [33]:
rna_df['Samples'].tolist() == wxs_df['Samples'].tolist()

True